.cart-items {
  background: #f6f9fc;
  height: auto;
  padding: 50px 0;
}

.cart-items .cart-details {
  width: 70%;
  margin-left: 10px;
  margin-top: 5px;
}

.cart-items .cart-total {
  width: 30%;
  margin-top: 36px;
  margin-left: 30px;
  height: auto;
}
.cart-list {
  background: white;
  margin-top: 30px;
  align-items: center;
}
.cart-items .img {
  width: 150px;
  height: 150px;
}
.cart-items img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cart-items .cart-details h3 {
  font-size: 20px;
  font-weight: 500;
}
.cart-items .cart-details h4 {
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
  color: grey;
}
.cart-items h4 span {
  color: #e94560;
  margin-left: 20px;
  font-weight: 500;
}
.removeCart {
  background: none;
  font-size: 25px;
  text-align: right;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* .cartControl {
  margin-top: 50px;
} */
.cartControl button {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
}
.incCart {
  background: none;
  border: 1px solid rgb(3 0 71 / 9%);
  color: #e94560;
}
.desCart {
  background: #f6f9fc;
}
.cart-total h4 {
  font-size: 15px;
  font-weight: 400;
}
.cart-total h3 {
  font-size: 20px;
  font-weight: 500;
  color: #e94560;
}
.cart-total h2 {
  font-size: 18px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(3 0 71 / 9%);
  padding-bottom: 10px;
  color: #e94560;
}
.no-items {
  color: #e94560;
  font-size: 18px;
  margin-top: 30px;
  height: 130px;
}
.button_max {
  margin-left: 35%;
}
.total_price {
  align-items: center;
}
.total_price h4 {
  font-size: 18px;
}
.total_price h3 {
  margin-top: 0;
}

/* Responsive */
@media (max-width: 768px) {
  .cart-items .cart-details {
    width: 100%;
    margin-left: 10px;
  }
  .cart-items img {
    width: 100%;
    margin-left: 10px;
  }
  .cart-items .img {
    width: 100%;
  }
  .container {
    max-width: 100%;
  }
  .cart-items .cart-details h4 {
    padding-top: 0;
    margin-top: 0;
    margin-left: 10px;
  }
  .cart-items .cart-details h3 {
    margin-left: 10px;
  }
  .cart-items h4 span {
    margin-left: 0;
  }
  .cart-items {
    padding: 0;
  }
  .container_mobile {
    display: flex;
  }
  .cart-items .cart-total {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
    padding: 10px 10px 0 10px;
    height: auto;
  }
  .button_mobile {
    margin-bottom: 15px;
    margin-left: 35%;
    width: 120px;
    height: 40px;
    font-weight: 500;
  }
}
