.category_detail {
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin-left: 52px;
}
.product_items {
    width: 77%;
    padding: 19px 0;
}
.product_container {
    max-width: 100%;
 
}
.category-parent {
    padding: 20px 0 0 20px;
    font-size: 15px;
}
.category-parent h4 {
    font-size: 20px;
}
.category_container {
    height: 500px;
    /* margin-right: 10px; */
}
.content-items {
    width: 100%;
}
.product-content {
    gap: 2px;
    grid-template-columns: repeat(4, 1fr);
}
.shop .product img:hover {
    opacity: 0.6;
}
.price:hover {
    cursor: pointer;
}
.sidebar_item {
    margin-top: 29px;
}
.content-items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (max-width: 46.25em) {
    .container.d_flex {
      flex-wrap: wrap;
    }
    .container.d_flex .category {
      width: 100%;
    }
    .homeSlide.contentWidth {
      width: 100%;
    }
    .slick-slider.slick-initialized > button {
      display: none !important;
    }
  
    .box.d_flex.top {
      margin: 0;
    }
    .box.d_flex.top .left {
      display: none;
    }
    .product-content.grid1 {
      /* background-color: red; */
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      margin: 10px;
    }
    .category_child {
      display: none;
    }
    .content__items {
      width: 100%;
    }
    .container_item {
      width: 100%;
    }
    .product {
      background: #fff;
  
      margin: 0;
      padding: 0;
    }
  
    .d_flex {
      display: flex;
    }
    .heading-right.row i {
      display: none;
    }
    .product.mtop {
      min-height: 100%;
    }
    .product.mtop .product-details {
      padding: 10%;
      padding-bottom: 0;
    }
    .box a {
      height: 100%;
      display: block;
    }
    .img {
      height: 100px;
    }
    .img img {
      border-radius: 8px 8px 0 0;
      object-fit: cover;
    }
    .product-details h3 {
      display: -webkit-box;
      height: 42px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 0;
      -webkit-box-pack: center;
  
      align-items: center;
    }
    .price h4 {
      font-size: 16px;
      line-height: 35px;
      margin-bottom: 0;
    }
    .product_mobile {
        width: 100%;
    }
    .category_mobile{
        width: 100%;
        margin-left: 0;
    }
    .price button {
        margin-bottom: 5px;
        width: 40px;
    }
  }