.flash {
  background-color:#9BB7D4;  
  padding: 50px 0;
}
.product-name:hover {
  color: #f7941d;
}
.discount_img {
  width: 100%;
}
.discount_img:hover {
  opacity: 0.6;
}
.discount {
  z-index: 2;
}
.sale_title {
  font-size: 16px;
}
.origin_title {
  font-size: 14px;
  text-decoration: line-through;
  color: rgb(158, 158, 156);
}
@media (max-width: 768px)  {
  .control-btn {
    display: block;
  }
  .slick-track {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.slick-slide {
  width: 188px !important;
}
.slick-track:before, .slick-track:after {
  display: none;
}
.product-name {
  height: 28px;
  margin-top: 8px;
}
.discount_img {
  height: 100%;
}
.product_moblie {
  padding: 10px;
}
.origin_title {
  margin: 0;
}
.flash_product {
  margin: 8px !important;
}
.f_flex h1 {
  font-size: 30px;
}
.heading i {
  font-size: 30px;
}
  /* .slick-slide {
    height: 100%;
  }
  .slick-initialized .slick-slide {
    width: 20% !important;
    margin: 5px;
  }
  .img {
    height: 190px;
  }
  .product_moblie {
    padding: 20px;
  }
  .origin_title{
    margin: 0;
  }
  .heading h1 {
    font-size: 22px;
  }
  .heading i {
    display: none;
  } */
}